.header {
  text-align: center;
}
body {
  height: 100%;
}

html {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.buttonArea {
  display: flex;
  justify-content: space-evenly;
}
button {
  margin-left: 5px;
}
.tab-content {
  height: 60vh;
  overflow-y: visible;
  overflow-x: hidden;
  margin-top: 20px;
}

.card-header-tabs {
  border-bottom: 1px solid #dee2e6 !important;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
